#dynamic-content {
  .header__adm {
    width: 70%;
  }
  .tableADM {
    width: 70%;
    text-align: justify;
    border-radius: 8px;

    thead {
      tr {
        padding: 10px;

        th {
          text-align: center;
          align-items: center;
          padding-block: 20px;
        }
      }
    }

    tbody {
      tr {
        &:last-child {
          border: none;
        }

        td {
          text-align: center;
          vertical-align: middle;
          padding-block: 20px;
          font-size: 16px;

          p {
            margin: 0;
          }
        }
      }
    }
  }
}
