.form__container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    padding-block: 5%;

    form {
        textarea {
            resize: none;
        }


    }

    #containerImagens {
        display: flex;
        flex-direction: column;
        gap: 5px;

        label {
            margin-top: 20px;
        }
    }
}