.painel__admin__container {

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 200px;

    .options__container {
        display: flex;
        gap: 50px;
        width: 1200px;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        .btn {
            width: 300px;
        }
    }
}