.main__container {
  box-sizing: border-box;
  display: flex;
  padding-left: 200px;
  min-height: 100vh;
  height: auto;
  align-items: center;
}
.main__container #dynamic-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  transition: var(--tran-05);
}
.main__container #dynamic-content h1,
.main__container #dynamic-content h2 {
  width: 70%;
  color: var(--gelo);
}
.main__container #dynamic-content.sidebar-open {
  margin-left: 180px;
}
.main__container .add-img-btn {
  border: none;
  color: white;
  padding: 7px;
  border-radius: 8px;
  background-color: rgb(72, 150, 72);
}

.light {
  transition: var(--tran-03);
  background-color: var(--blue-secondary);
}
.light .painel__admin__container .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 350px;
  background-color: var(--gelo);
  transition: var(--tran-05);
}
.light .painel__admin__container .sidebar.close {
  width: 96px;
}
.light .painel__admin__container .sidebar.close header .logo__container img {
  width: 50px;
  margin-right: 15px;
}
.light .painel__admin__container .sidebar.close .text {
  opacity: 0;
}
.light .painel__admin__container .sidebar.close .mode {
  position: relative;
}
.light .painel__admin__container .sidebar.close .mode .toggle-switch {
  position: absolute;
  align-items: center;
}
.light .painel__admin__container .sidebar header {
  position: relative;
}
.light .painel__admin__container .sidebar header .logo__container {
  box-sizing: border-box;
  display: flex;
  gap: 30px;
  width: 100%;
  align-items: center;
  height: 180px;
  padding: 20px;
}
.light .painel__admin__container .sidebar header .logo__container .text {
  color: var(--blue-secondary);
  font-weight: 600;
  text-align: start;
  text-decoration: none;
}
.light .painel__admin__container .sidebar header .logo__container .text:close {
  display: none;
}
.light .painel__admin__container .sidebar header .logo__container img {
  width: 80px;
}
.light .painel__admin__container .sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--gelo);
  color: var(--blue-secondary);
  font-size: 24px;
  font-weight: 900;
  margin: 2px;
}
.light .painel__admin__container .sidebar .menu__bar {
  padding-left: 20px;
  margin-top: 40px;
}
.light .painel__admin__container .sidebar .menu__bar .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.light .painel__admin__container .sidebar .menu__bar .menu .menu__links {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0;
}
.light .painel__admin__container .sidebar .menu__bar .menu .menu__links .nav__link {
  width: 100%;
  list-style: none;
}
.light .painel__admin__container .sidebar .menu__bar .menu .menu__links .nav__link a {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: var(--blue-secondary);
  font-size: 16px;
}
.light .painel__admin__container .sidebar .menu__bar .menu .menu__links .nav__link a i {
  font-size: 32px;
}
.light .painel__admin__container .sidebar .menu__bar .menu .menu__links .nav__link a:hover {
  background-color: var(--blue-secondary);
  color: white;
}
.light .painel__admin__container .sidebar .menu__bar .menu .menu__links .logout {
  list-style: none;
}
.light .painel__admin__container .sidebar .menu__bar .menu .menu__links .logout a {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: var(--blue-secondary);
  font-size: 16px;
}
.light .painel__admin__container .sidebar .menu__bar .menu .menu__links .logout a i {
  font-size: 32px;
}
.light .painel__admin__container .sidebar .menu__bar .menu .menu__links .logout a:hover {
  background-color: var(--blue-secondary);
  color: white;
}
.light .painel__admin__container .sidebar .menu__bar .button__content ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  padding: 0;
}
.light .painel__admin__container .sidebar .menu__bar .button__content ul li {
  margin: auto;
  list-style: none;
  margin: 0;
}
.light .painel__admin__container .sidebar .menu__bar .button__content ul li a {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: var(--blue-secondary);
  font-size: 18px;
}
.light .painel__admin__container .sidebar .menu__bar .button__content ul li a i {
  font-size: 24px;
}
.light .painel__admin__container .sidebar .menu__bar .button__content ul .mode {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}
.light .painel__admin__container .sidebar .menu__bar .button__content ul .mode .toggle-switch {
  height: 100%;
  min-width: 60px;
  display: flex;
  min-width: 60px;
  cursor: pointer;
}
.light .painel__admin__container .sidebar .menu__bar .button__content ul .mode .toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background-color: var(--blue-light);
}
.light .painel__admin__container .sidebar .menu__bar .button__content ul .mode .toggle-switch .switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--blue-secondary);
  transition: var(--tran-03);
}
.light .painel__admin__container .sidebar .menu__bar .button__content ul .mode .moon__sun {
  display: flex;
  align-items: center;
  height: 50px;
  color: var(--blue-secondary);
}
.light .painel__admin__container .sidebar .menu__bar .button__content ul .mode .moon__sun .moon {
  font-size: 24px;
}
.light .painel__admin__container .sidebar .menu__bar .button__content ul .mode .moon__sun .sun {
  font-size: 24px;
  display: none;
}
.light .painel__admin__container .sidebar .menu__bar .button__content ul .mode .text {
  color: var(--blue-secondary);
}
.light .toggle {
  box-shadow: 1px 3px 3px rgb(98, 98, 98);
}

.dark {
  transition: var(--tran-03);
  background-color: var(--blue-dark);
}
.dark .painel__admin__container .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 350px;
  background-color: var(--blue-default);
  transition: var(--tran-05);
}
.dark .painel__admin__container .sidebar.close {
  width: 96px;
}
.dark .painel__admin__container .sidebar.close header .logo__container img {
  width: 50px;
  margin-right: 15px;
}
.dark .painel__admin__container .sidebar.close .text {
  opacity: 0;
}
.dark .painel__admin__container .sidebar.close .mode {
  position: relative;
}
.dark .painel__admin__container .sidebar.close .mode .toggle-switch {
  position: absolute;
  align-items: center;
}
.dark .painel__admin__container .sidebar header {
  position: relative;
}
.dark .painel__admin__container .sidebar header .logo__container {
  box-sizing: border-box;
  display: flex;
  gap: 30px;
  width: 100%;
  align-items: center;
  height: 180px;
  padding: 20px;
}
.dark .painel__admin__container .sidebar header .logo__container .text {
  color: var(--blue-dark);
  font-weight: 600;
  text-align: start;
  text-decoration: none;
}
.dark .painel__admin__container .sidebar header .logo__container .text:close {
  display: none;
}
.dark .painel__admin__container .sidebar header .logo__container img {
  width: 80px;
}
.dark .painel__admin__container .sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--blue-default);
  color: var(--blue-dark);
  font-size: 24px;
  font-weight: 900;
  margin: 2px;
}
.dark .painel__admin__container .sidebar .menu__bar {
  padding-left: 20px;
  margin-top: 40px;
}
.dark .painel__admin__container .sidebar .menu__bar .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dark .painel__admin__container .sidebar .menu__bar .menu .menu__links {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0;
}
.dark .painel__admin__container .sidebar .menu__bar .menu .menu__links .nav__link {
  width: 100%;
  list-style: none;
}
.dark .painel__admin__container .sidebar .menu__bar .menu .menu__links .nav__link a {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: var(--blue-dark);
  font-size: 16px;
}
.dark .painel__admin__container .sidebar .menu__bar .menu .menu__links .nav__link a i {
  font-size: 32px;
}
.dark .painel__admin__container .sidebar .menu__bar .menu .menu__links .nav__link a:hover {
  background-color: var(--blue-dark);
  color: white;
}
.dark .painel__admin__container .sidebar .menu__bar .menu .menu__links .logout {
  list-style: none;
}
.dark .painel__admin__container .sidebar .menu__bar .menu .menu__links .logout a {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: var(--blue-dark);
  font-size: 16px;
}
.dark .painel__admin__container .sidebar .menu__bar .menu .menu__links .logout a i {
  font-size: 32px;
}
.dark .painel__admin__container .sidebar .menu__bar .menu .menu__links .logout a:hover {
  background-color: var(--blue-dark);
  color: white;
}
.dark .painel__admin__container .sidebar .menu__bar .button__content ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  padding: 0;
}
.dark .painel__admin__container .sidebar .menu__bar .button__content ul li {
  margin: auto;
  list-style: none;
  margin: 0;
}
.dark .painel__admin__container .sidebar .menu__bar .button__content ul li a {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: var(--blue-dark);
  font-size: 18px;
}
.dark .painel__admin__container .sidebar .menu__bar .button__content ul li a i {
  font-size: 24px;
}
.dark .painel__admin__container .sidebar .menu__bar .button__content ul .mode {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}
.dark .painel__admin__container .sidebar .menu__bar .button__content ul .mode .toggle-switch {
  height: 100%;
  min-width: 60px;
  display: flex;
  min-width: 60px;
  cursor: pointer;
}
.dark .painel__admin__container .sidebar .menu__bar .button__content ul .mode .toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background-color: var(--gelo);
}
.dark .painel__admin__container .sidebar .menu__bar .button__content ul .mode .toggle-switch .switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--blue-dark);
  transition: var(--tran-03);
}
.dark .painel__admin__container .sidebar .menu__bar .button__content ul .mode .moon__sun {
  display: flex;
  align-items: center;
  height: 50px;
  color: var(--blue-dark);
}
.dark .painel__admin__container .sidebar .menu__bar .button__content ul .mode .moon__sun .moon {
  font-size: 24px;
}
.dark .painel__admin__container .sidebar .menu__bar .button__content ul .mode .moon__sun .sun {
  font-size: 24px;
  display: none;
}
.dark .painel__admin__container .sidebar .menu__bar .button__content ul .mode .text {
  color: var(--blue-dark);
}
.dark .painel__admin__container .sidebar .toggle {
  box-shadow: 1px 3px 3px rgb(0, 0, 0);
}
.dark .painel__admin__container .sidebar .menu__bar .button__content ul .mode .toggle-switch .switch::before {
  left: 20px;
}
.dark .painel__admin__container .sidebar .menu__bar .button__content ul .mode .moon__sun .sun {
  display: block;
}
.dark .painel__admin__container .sidebar .menu__bar .button__content ul .mode .moon__sun .moon {
  display: none;
}/*# sourceMappingURL=painelSytle.css.map */