@mixin theme($textColor, $bgColor, $bgTr, $tdColor) {

    #dynamic-content {

        .list__container {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            h2 {
                color: $textColor;
            }

            .tableADM {
                width: 50%;
                text-align: justify;
                color: $textColor;
                border-radius: 8px;
                
                border: 15px solid $bgColor;
                
                thead {

                    background-color: $bgColor;

                    tr {
                        padding: 10px;

                        th {
                            text-align: center;
                            align-items: center;
                            padding-block: 20px;
                            color: $textColor;
                        }
                    }
                }

                tbody {
                    tr {
                        background-color: $bgTr;
                        color: $tdColor;
                        border-bottom: 15px solid $bgColor;
                        
                        &:last-child {
                            border: none;
                        }

                        td {
                            
                            text-align: center;
                            vertical-align: middle;
                            padding-block: 20px;

                            p {
                                margin: 0;
                            }
                        }
                    }
                }
            }

            .modal-title {
                color: var(--blue-dark);
            }
        }

    }

}

.light {
    @include theme(var(--gelo), var(--blue-default), var(--gelo), var(--blue-dark));


}

.dark {
    @include theme(var(--gelo), var(--blue-secondary), var(--gelo), var(--blue-dark));


}