@import url("header/headerStyle.css");
@import url("bootstrap/bootstrap.css");
@import url("form/form.css");
@import url("painel/painelSytle.css");
@import url("list/listStyle.css");

:root {

    --gelo: #ebf0f3;
    --cinza-claro: #d2d7da;
    --verde-agua: #026874;
    --verde-medio: rgb(3, 81, 90);
    --verde-escuro: #002d40;
    --azul-escuro: #011c27;

}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}