@import url("bootstrap/bootstrap.css");
@import url("form.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    /* Colors */
    --white: #FFFFFF;
    --dark-blue: #051623;
    --black: #030B11;
    --black2: #0f3552;
    --red: #CC040B;
    --yellow: #FF9517;
}

